<div class="ImgClose">
    <img src="https://www.flaticon.com/svg/static/icons/svg/61/61155.svg" alt="" class="closeClient">
</div>
<form class="IncClient__Form" action="/addClient" method="POST">
    <label class="IncHairCut__Form__cont" for="name">Nome</label>
    <input class="IncHairCut__Form__cont InputCl" name="name" type="datetime" required >
    <div class="ErroMsgC"></div>
    <label class="IncHairCut__Form__cont" for="cpf">CPF</label>
    <input class="IncHairCut__Form__cont InputCl" name="cpf" type="number" required>
    <div class="ErroMsgC"></div>
    <button class="IncHairCut__Form__cont">Enviar</button>
</form>