<div class="ImgClose">
    <img src="https://www.flaticon.com/svg/static/icons/svg/61/61155.svg" alt="" class="closeHairCut">
</div>
<form class="IncHairCut__Form" action="/addHairCut" method="POST">
    <label class="IncHairCut__Form__cont" for="Date">Data yyyy/MM/dd hh:mm</label>
    <input class="IncHairCut__Form__cont InputHair" name="date" type="datetime" required value="yyyy/MM/dd hh:mm">
    <div class="ErroMsg"></div>
    <label class="IncHairCut__Form__cont" for="IdCliete">Id Cliente</label>
    <input class="IncHairCut__Form__cont InputHair" name="id" type="number" required>
    <div class="ErroMsg"></div>
    <button class="IncHairCut__Form__cont">Enviar</button>
</form>
